{% extends 'company/base.html' %}

{% block title %}Magic Formula{% endblock %}

{% block content %}
<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="table-responsive">
  <table class="table table-bordered table-sm table-striped m-5px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Total Share</th>
        <th>ShareHolders Equity%</th>
        <th>NPAT</th>
        <th>Operating Profit</th>
        <th>ROE%</th>
        <th>Score 1</th>
        <th>Income Tax</th>
        <th>Interest</th>
        <th>Long Term Debt</th>
        <th>Short Term Debt</th>
        <th>ROCE%</th>
        <th>Score 2</th>
        <th>Cash & EQ</th>
        <th>LTP</th>
        <th>Score 3</th>
        <th>MARKET CAP</th>
        <th>Enterprice Value</th>
        <th>Acquire Multiplayer</th>
        <th>Score4</th>
        <th>EPS</th>
        <th>EPS Annual</th>








      </tr>
    </thead>
    <tbody>
      {% for company in companies %}
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.sectors }}</td>
        <td>{{ company.total_share }}</td>
        <td>{{ company.shareholders_equity }}</td>
        {% with report=company.yearly_reports.first %}
            <td>{{ report.npat }}</td>
            <td>{{ report.operating_profit }}</td>

          {% endwith %}
        <!-- <td>{{ company.yearly_reports.Npat }}</td> -->
        <!-- <td>{{ company__yearly_reports.operating }}</td> -->

        <td>{{ company.ROE }}</td>
        <td>{{ company.score1 }}</td>
        {% with report=company.yearly_reports.first %}
        <td>{{ report.income_tax }}</td>
        <td>{{ report.interest }}</td>
        <td>{{ report.long_term_debt }}</td>
        <td>{{ report.short_term_debt }}</td>
 
      {% endwith %}
    <!-- <td>{{ company.yearly_reports.Npat }}</td> -->
        <td>{{ company.ROCE }}</td>
        
        <td>{{ company.score2 }}</td>
        {% with report=company.yearly_reports.first %}
          <td>{{ report.cash_and_cash_eq }}</td>

        {% endwith %}

        {% with report=company.daily_reports.first %}
        <td>{{ report.ltp }}</td>

      {% endwith %}

  <td>{{ company.score3 }}</td>
  <td>{{ company.MARKET_CAP }}</td>
  <td>{{ company.Enterprise_Value }}</td>
  <td>{{ company.Acquirer_Multiple }}</td>
  <td>{{ company.score4 }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8">No stocks found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
